body {
  font-family: 'Courgette', cursive;
    font-size: 25px;
    line-height: 34px;
    color: rgb(37, 204, 196);
    background: url("../images/image-of-USA.jpg");
  }

  * {
    box-sizing: border-box;
  }
  
  #directions-text {
    color:rgba(241, 244, 247, 27);
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 50px;

  }

  #headerimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 168px;
  }
p
  {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 42%;
    color: black
}

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }